# documentation and grafic files
*.puml
*.svg
*.pdf
*.png

# virtual environments
venv/
.venv/

# structurizr files 
/documentation/.structurizr
/documentation/workspace.json

# Python
__pycache__/
.pytest_cache/

# MacOS - redundent to .gitignore_global
.DS_Store

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Local Terraform directories
.terraform/
.terraform.lock.hcl

# Optional: Backup files
*.backup

# Optional: Environment files
.env
